@{
    ViewBag.Title = "Current Day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="container">
        <div class="allocation-15">
            <h2>Project Name</h2>
            <p>Work Title</p>
            <p><span>1.5</span></p>
        </div>
        <div class="allocation-35">
            <h2>Project Name</h2>
            <p>Work Title</p>
            <p><span>3.5</span></p>
        </div>
        <div class="allocation-05">
            <h2>Project Name</h2>
            <p>Work Title</p>
            <p><span>0.5</span></p>
        </div>
        <div class="allocation-2">
            <h2>Project Name</h2>
            <p>Work Title</p>
            <p><span>2</span></p>
        </div>
    </div>
</div>