@{
    ViewBag.Title = "Current Day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="allocation 15">
        <h2>Mando</h2>
        <p>Mando brand case-study & assets</p>
        <p><span class="allocation">1.5</span></p>
    </div>
    <div class="allocation 35">
        <h2>Gap Partnership Ltd</h2>
        <p>Responsive site</p>
        <p><span class="allocation">3.5</span></p>
    </div>
    <div class="allocation 05">
        <h2>ICO</h2>
        <p>Intranet design</p>
        <p><span class="allocation">0.5</span></p>
    </div>
    <div class="allocation 2">
        <h2>Shop Direct</h2>
        <p>Shop Direct SharePoint Intranet</p>
        <p><span class="allocation">2.0</span></p>
    </div>
</div>