<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <entityFramework xdt:Transform="Replace">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <contexts>
      <context type="ProductionSchedule.Models.ProductionScheduleContext, ProductionSchedule">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[ProductionSchedule.Models.ProductionScheduleContext, ProductionSchedule], [ProductionSchedule.Migrations.Configuration, ProductionSchedule]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
</configuration>